/* Add additional stylesheets below
-------------------------------------------------- */
.bottomline {
    margin-top: 20px;
    border-top: solid 1px blanchedalmond;
}
.facetitem {
    cursor: pointer;
}
.facetitem:hover{
    background: activecaption;
}
.facetitem.activefacet {
    background:activecaption;
    text-decoration:underline;
    color: white;
}